.trend_list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-around;
}

.trend_item {
    width: 40%;
    background-color: white;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
}



.trend_link {
    color: #333333;
    font-size: 14px;
    transition: color 300ms linear;
}

.trend_link:hover {
    color: rgb(135, 128, 230);
}
