.actors_wrapper {
    width: 100%;
    text-align: start;
    color: black;
}

.actors_list {
    padding: 10px;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
}

.actors_list_item {
    background-color: white;
    border-radius: 8px;
    padding: 5px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actor_name {
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.actor_character {
    font-size: 12px;
    text-align: center;
}