.home_wrapper {
    max-width: 100%;
    background-color: #f9f2e5;
    text-align: start;
    padding: 10px 20px;
}

.home_title {
    color: #333333;
    font-size: 22px;
    text-align: center;
    padding-bottom: 10px;
}